@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}

body {
    height: 100dvh;
    font-family: "Lilita One", sans-serif;
    color: #E7DFCC;
    background-color: #3D3632;
    touch-action: none; /* Previne ações padrão como zoom e rolagem */
}

#logo-container {
    position: relative;
}

#jimmy {
    position: absolute;
    bottom: 0;
    left: -32px;
}

#laranjinha {
    position: absolute;
    bottom: 0;
    right: -32px;
}

#logo {
    height: 6rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

#menu h1 {
    font-family: "Luckiest Guy";
    font-size: 5rem;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    
}

#menu #instagram {
    color: #E7DFCC;
    padding: 1rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
}

#menu #instagram i {
    font-size: 32px;
}

#play-btn {
    font-family: "Lilita One", sans-serif;
    font-size: 1.5rem;
    background: #E85E06;
    width: 80%;
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 1.5rem;
    margin: 1rem 0;
    color: #E7DFCC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#creditos {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #8C8C8C;
}

#creditos a {
    color: #8C8C8C;
    text-decoration: underline;
}

